p{
  text-align:left;
  margin-top:10px;
  margin-left:10px;
}
span{
  font-weight:bold;
}
.pOne,.pTwo,.pThree{
  font-size:32px;
  font-weight:bold;
}
.pTwo{
  font-size:24px;
}
.pThree{
  font-size:14px;
}
