body{
  border:1px solid #d6d6d6;
  padding:0 0 20px 20px;
}
.float_1 div,
.float_2 div {
  display:inline;
}
.float_1 div:nth-of-type(2),
.float_2 div:nth-of-type(2){
  margin:0 40px;
}
p{
  margin:0;
}
.right div:nth-of-type(1) p{
  margin-bottom:10px;
}
